/* Home page stylings */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* Checklist stylings */
.checklist-top {
    text-align: center;
}
.tracks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.track {
    display: flex;
    align-items: center;
    flex-direction: column;

    max-width: 20%;
}

input.check {
    transform: scale(1.25);
}

.submit {
    text-align: center;
}

/* Confirmation stylings */
.confirmation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}